
// preset form values if we receive a userdata object //
- user = (typeof(udata) != 'undefined') ? udata : { }
//- - playerSearch = (typeof(allPla) != 'undefined') ? allPla : { }

// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				.navbar-brand  
				//- .navbar-brand  #{udata.user}
				
			ul.nav.navbar-nav.navbar-right
				li 
					a(href="/home") Auction
				li 
					a(href="/roster") Roster
				li 
					a(href="/qb") QB
				li 
					a(href="/rb") RB
				li 
					a(href="/wr") WR
				li 
					a(href="/te") TE
				li
					a(href="/settings") Settings
				li
					.navbar-btn#btn-logout.btn.btn-default
						| Sign Out


	//- include account
	//- include auction
	include user_roster
	include modals/alert
	include modals/confirm

block scripts

	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	//- script(src='/js/views/settings.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')
	script(src='/js/form-validators/playerValidator.js')
	script(src='/socket.io/socket.io.js')
	script.
		var socket = io.connect()

		$(document).ready(function(){
			socket.on('updatePrice', function(data) {
				document.getElementById('bids').innerHTML = data;
			});
		});
				$(document).ready(function(){
			socket.on('updateTime', function(dataTime) {
				document.getElementById('timer').innerHTML = dataTime;
			});
		});

		function submitPrice() {
			//- var message = $('#input').val();
			var message = parseInt(document.getElementById("input").value);	
			var bid = parseInt(document.getElementById("bids").innerHTML);					
			if (message < bid) {
				console.log("ERROR");
			} else {
			socket.emit('sendmsg',message); 
			timeReset();		
			}
		}

		function addonedollar() {
			var bid = parseInt(document.getElementById("bids").innerHTML);
			var message = parseInt(document.getElementById("input").value);
			bid++;
			//- message++;
			document.getElementById("input").value = message;
			timeReset();						
			socket.emit('sendmsg',bid); 
		}
		function addfivedollars() {
			var bid = parseInt(document.getElementById("bids").innerHTML);
			var message = parseInt(document.getElementById("input").value);
			bid += 5;
			//- message += 5;
			document.getElementById("input").value = message;
			timeReset();						
			socket.emit('sendmsg',bid); 
		}
		function addtendollars() {
			var bid = parseInt(document.getElementById("bids").innerHTML);
			var message = parseInt(document.getElementById("input").value);
			bid += 10;
			message += 10;
			document.getElementById("input").value = message;
			timeReset();			
			socket.emit('sendmsg',bid); 
		}
		
		function countDown() {
			var timeCountDown = document.getElementById('timer').innerHTML;
			setTimeout(countDown, 1000);	
			if(timeCountDown > 1) {
				timeCountDown--;
			} else {
				return document.getElementById('timer').innerHTML = 'Expired';				
			}

			socket.emit('sendTime',timeCountDown); 						
		}
		function timeReset() {
			var newTime = parseInt(document.getElementById("timer").innerHTML); 					
			if(newTime < 10 && newTime > 0) {
				newTime = 10;
			} 
			socket.emit('sendTime',newTime); 			
		}